extends ../layouts/base.pug

block content
    section.sec
        form(action="/" method="get")
            select(name="seq")
                option(value="author") 작가
                option(value="title" ) 제목
            input(type="text" name="searchValue" placeholder="검색어를 입력하세요")
            input(type="submit" value="Search")

            